package {{packageName}};


{{documentation}}
{{promptForTemplate}}

public {{type}} {{name}}
{{#extendsType}}
extends {{extendsType}}
{{/extendsType}}
{{implementForTemplate}}
{

{{#fields}}
private {{labelForTemplate}} {{name}};
{{/fields}}

{{#methods}}
    {{documentation}}
    {{promptForTemplate}}
    public  {{returnType.labelForTemplate}} {{name}} (
    {{#parameterList}}
        {{type.labelForTemplate}} {{name}}
    {{/parameterList}},
    )
{{/methods}}

}