package {{packageName}};


{{documentation}}
{{promptForTemplate}}

{{#annotations}}
    {{.}}
{{/annotations}}
public {{type}} {{name}}
{{#extendsType}}
extends {{extendsType}}
{{/extendsType}}
{{implementForTemplate}}
{

{{#fields}}
    {{#annotations}}
        {{.}}
    {{/annotations}}
private {{labelForTemplate}} {{name}};
{{/fields}}

{{#allMethods}}
    {{documentation}}
    {{promptForTemplate}}
    {{#annotations}}
        {{.}}
    {{/annotations}}
    public {{returnType.labelForTemplate}} {{name}} (
    {{#parameterList}}
        {{type.labelForTemplate}} {{name}}
    {{/parameterList}},
    )
{{/allMethods}}

}